.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 300px;
  height:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0px 10px 20px;
  border-width: 0px;
  border-radius: 25px;
}
.profile-heading {
  color: #4f46e5;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 600;
}
.profile-para {
  color: #64748b;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
  margin-top: 0px;
}
.profile-failure-container {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
